<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Jordan's Jams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<header>
	<video autoplay playsinline muted loop preload poster="https://media.giphy.com/media/m5YDMdUgGPKMw/giphy.gif">
	</video>
 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 80" preserveAspectRatio="xMidYMid slice">
    <defs>
    <mask id="mask" x="0" y="0" width="100%" height="100%" >
      <rect x="0" y="0" width="100%" height="100%" />
    <text x="80"  y="30">Welcome to </text>
      <text x="72"  y="50">Jordan's Jams</text>
      </mask>
  </defs>
 <rect x="0" y="0" width="100%" height="100%" />
  </svg>
</header>

<iframe src="https://open.spotify.com/embed/playlist/6MfEs3eSEY27X5QOzioqW8" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!-- partial -->
  <script  src="{{ url_for('static',filename='styles/script.js') }}"></script>

</body>
</html>