<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">


<body class="bg">
    <h1 class="header">Welcome to Jordans Jam's</h1>
        <div>
                <iframe src="https://open.spotify.com/embed/playlist/6MfEs3eSEY27X5QOzioqW8" width="300" height="440" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
</body>


</html>